@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 50px 0px;
    font-size: 56px;
    font-weight: bold;
    color: #75B79E;
    text-transform: uppercase;
}

.contador {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cards {
    width: 1200px;
    display: flex;
    align-items: center;
    margin-left: 150px;
    flex-wrap: wrap;
    gap: 34px;
    margin-bottom: 100px;
}

.virar .front {
    transform: rotateY(180deg);
}

.card {
    border-radius: 5px;
    border: 1px solid #99CEA8;
    background-color: #A7E9AF;
    width: 120px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.face {
    border-radius: 5px;
    width: 120px;
    height: 150px;
    background-color: #A7E9AF;
    border-radius: 10px;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}


.back-face {
    transform: rotateY(180deg);
}

.virar .back-face {
    transform: rotateY(0deg)
}

.virar .front-face {
    transform: rotateY(-180deg);
}

.card:hover {
    transform: scale(1.05, 1.05);
}

.card img {
    width: 100px;
}

@media (max-width: 614px) {
    .cabecalho {
        width: 100%;
    }

    h1 {
        font-size: 36px;
        text-align: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
}